body {

    background-color: black;
    color: black;
}


head {

    background-color: black;
    color: black;
}

div {

    background-color: black;
    color: black;
}

script {

    background-color: black;
    color: black;
}